<footer class="bg-dark p-5">
  <div class="row">
    <div class="col-md-3 text-primary"><h1 class="mb-3">Egyguid</h1></div>
    <div class="col-md-3 mt-5">
      <a class="d-block p-2" href="{% url 'about' %}">ABOUT US</a>
    </div>
    <div class="col-md-3 mt-5">
      <a class="d-block p-2" id="aim_cities2">CITIES</a>
      <a class="d-block p-2" href="{% url 'blog' %}">BLOG</a>
    </div>
    <div class="col-md-3 mt-5"><a class="d-block p-2" href="#">VISIT</a></div>
  </div>
  <p class="my-5 pt-5 text-center">
    &copy; All rights reserved - {% now "Y" %}
  </p>
</footer>
