<div class="upper_nav">
  <div class="d-flex bd-highlight container">
    <a href="{% url 'about' %}" class="mr-auto bd-highlight p-2">ABOUT US</a>
    <a class="p-2 bd-highlight" href="https://www.facebook.com/MuhmedYoussef" target="_blank"> 
      <i class="fab fa-facebook-square"></i>
    </a>
    <a class="p-2 bd-highlight"><i class="fab fa-instagram"></i></a>
  </div>
</div>
<section class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark container nav_trans mt-1">
    <a class="navbar-brand text-primary" href="{% url 'index' %}">Egyguid</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {%if request.path == '/' %}active{% endif %}">
          <a class="nav-link font-weight-bold" href="{% url 'index' %}">HOME</a>
        </li>
        {% if request.path == '/' %}
        <li class="nav-item">
          <a class="nav-link font-weight-bold" id="aim_cities1">CITIES</a>
        </li>
        {% endif %}
        <li
          class="nav-item mr-2 {%if 'blog' in request.path %}active{% endif %}"
        >
          <a class="nav-link font-weight-bold" href="{% url 'blog' %}">BLOG</a>
        </li>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-sm text-primary dropdown-toggle" type="button" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="usermenu">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </div>
        </div>
        {% else %}
        <li class="nav-item">
          <a
          class="nav-link font-weight-bold btn btn-outline-dark"
          href="{% url 'login' %}"
          >Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</section>
