{% extends 'base.html' %} {% load static %}

<!-- blog content -->
{% block content %} {% include '../partials/_navbar_default.html' %}
<main class="login text-dark">
  <section class="container mt-5">
    {% include 'partials/_message.html' %}
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img
          class="img-fluid d-block mx-auto"
          id="profile_img"
          src="
            {% if user.profile.image %}
              {{ user.profile.image.url }}
            {% else %}
            http://cdn.onlinewebfonts.com/svg/download_568657.png
            {% endif %}
          "
          alt="profile"
          style="max-width:100px;"
        />
      </div>
      <div class="col-xs-12 col-sm-8 p-4">
        <h2 class="text-uppercase mb-5">
          {{ user.first_name }} {{ user.last_name }}
        </h2>
        <p class="mb-1">
          <span class="font-weight-bold">Username: </span>{{ user.username }}
        </p>
        <p class="mb-1">
          <span class="font-weight-bold">Email: </span>{{ user.email }}
        </p>
        <p class="mb-1">
          <span class="font-weight-bold">DOB: </span>{{ user.profile.DOB }}
        </p>
        <a class="btn btn-light text-dark mt-5 font-weight-bold">
          Edit Your Profile >
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock%}
