{% extends 'base.html' %} {% load static %}

<!-- blog content -->
{% block content %} {% include '../partials/_navbar.html' %}
<main class="blog">
  <div class="card">
    <img src="{% static 'img/blog.jpg' %}" class="card-img" alt="Blog" />
    <div class="card-img-overlay d-flex align-items-center">
      <div class="card-img-overlay bottom_overlay d-flex align-items-end">
        <img src="{% static 'img/city_overlay.svg' %}" alt="overlay" />
      </div>
      <div class="card-title pt-5 text-center mx-auto">
        <h2 class="display-3 title">We share our stories</h2>
        <a class="btn btn-primary text-dark font-weight-bold" href="{% url 'add' %}" style="font-size: 1.1rem; letter-spacing:.2rem;">
          TELL US YOURS
        </a>
      </div>
    </div>
  </div>

  <section class="container my-5">
    <h3 class="pt-5 display-4">Latest posts</h3>
    <hr class="mb-5" />
    {% for post in posts %}
    <div class="row blog_post p-3 shadow my-4">
      <div class="col-sm-12 col-md-4 p-0 d-flex align-items-center">
        <a href="{% url 'post' slug=post.slug %}">
          <img
            src="
            {% if post.image %}
              {{ post.image.url }}
            {%else%}
              {{ post.image_url }}
            {% endif %}"
            class="img-fluid rounded mx-auto my-auto d-block"
          />
        </a>
      </div>
      <div class="col-sm-12 col-md-8">
        <a class="post_title" href="{% url 'post' slug=post.slug %}">
          <h3>{{ post.title }}</h3>
        </a>
        <p>
          <span class="bg-primary p-1 mr-2 rounded">
            <i class="fas fa-user"></i> Mohamed Youssef
          </span>
          <span class="bg-primary p-1 rounded">
            <i class="far fa-clock ml-2"></i> {{ post.pub_date }}
          </span>
        </p>
        <p class="post_content">
          {{ post.summary }}...
          <a href="{% url 'post' slug=post.slug %}">Read more</a>
        </p>
      </div>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
